body {
    font-family: 'Open Sans';
}

img {
    max-width: 100%;
}

a {
    color: #0375dd;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #0375dd;
}

a:focus,
a:active,
a:visited {
    outline: 0!important;
}

input:focus,
.form-control:focus {
    outline: none;
    box-shadow: 4px 4px 5px #f0f0f0 inset;
    border: 1px solid #dbdbdb;
}

.pos-rel {
    position: relative;
}

.reset-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.align-center {
    text-align: center;
}

.full-bg {
    background: url('../../images/main-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar-fixed-top {
    background: url('../../images/header-bg.jpg') no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 0;
    height: 135px;
}

.navbar-fixed-top.dashboard-header {
    height: 260px;
}

// Page Layout Classes
.page-title-wrap {
    height: 60px;
    padding: 0 15px;
    background: #f1e8de;
    position: relative;
    h2 {
        font-size: 24px;
        font-weight: 300;
        line-height: 60px;
        margin: 0;
        float: left;
    }
}

.notification-wrap {
    height: 50px;
    position: absolute;
    width: 350px;
    overflow: hidden;
    right: 15px;
    top: 0;
    margin: 6px 0;
    .notifications-slide {
        background: url(../../images/dashboard/notification-shadow.png) right top repeat-y;
        background-color: rgba(0, 0, 0, 0.25);
        border-radius: 8px 0 0 8px;
        height: 50px;
        padding: 4px 10px 4px 60px;
        font-size: 11px;
        line-height: 14px;
        font-weight: normal;
        position: relative;
        width: 100%;
        &.bell-shadow {
            background-position: 47px top;
            background-color: rgba(0, 0, 0, 0.30);
        }
        .bell-toggle {
            width: 52px;
            height: 52px;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            background: url(../../images/dashboard/notification.png) 12px 7px no-repeat;
            background-size: auto 70%;
            -webkit-animation: ring 3s ease infinite;
            animation: ring 3s ease infinite;
            transform-origin-x: 50%;
            transform-origin-y: 0;
            transform-origin-z: initial;
        }
    }
    .carousel-indicators {
        bottom: -3px;
        left: auto;
        margin: 0;
        right: -7px;
        text-align: right;
        width: 150px;
        li {
            height: 4px;
            width: 10px;
            margin-bottom: 0;
            border-radius: 0;
            background-color: #fff;
            border: none;
            &.active {
                width: 10px;
                height: 4px;
                background-color: #4097dc;
            }
        }
    }
}

// Checkbox and Radio button

/* =================== Custom Checkbox =================== */

.custom-checkbox {
    cursor: pointer;
    width: 17px;
    height: 17px;
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 3px;
    background: url("../../images/checkbox.png") no-repeat;
}

.custom-checkbox:hover {
    background: url("../../images/checkbox.png") no-repeat;
}

.custom-checkbox.selected {
    background: url("../../images/checkbox-checked.png") no-repeat;
}

.custom-checkbox input[type="checkbox"] {
    margin: 0;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    outline: none;
    opacity: 0;
    /* CSS hacks for older browsers */
    /*_noFocusLine: expression(this.hideFocus=true); 
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);*/
    -khtml-opacity: 0;
    -moz-opacity: 0;
}


/* =================== Custom Checkbox =================== */


/* Base for label styling */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked,
[type="radio"]:not(:checked),
[type="radio"]:checked {
    /*position: absolute;
    left: -9999px;*/
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label,
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    position: relative;
    top: 1px;
    padding: 1px 14px 0 26px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    text-shadow: @textShadowLeftTop;
}


/* checkbox aspect */

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    border: 1px solid #aaa;
    background: #f8f8f8;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3)
}


/* checked mark aspect */

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 14px;
    line-height: 0.8;
    color: #ff6400;
    transition: @transitionLinks;
    text-shadow: 0 1px 0 #4a776a;
}


/* Radio aspect */

[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
    height: 18px;
    border: 0;
    background: #f8f8f8;
    border-radius: 20px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3)
}

[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
    content: '.';
    position: absolute;
    top: -2px;
    left: 3px;
    font-size: 42px;
    font-weight: bold;
    line-height: 0;
    color: #ff6400;
    transition: @transitionLinks;
    text-shadow: none;
}


/* checked mark aspect changes */

[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked + label:after{
    opacity: 1;
    transition: @transitionLinks;
}


/* disabled checkbox */

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before{
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after{
    color: #999;
}

[type="checkbox"]:disabled + label{
    color: #aaa;
}


/* accessibility */

[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before{
    border: 0;
}

.scrollup {
    display: none;
    position: fixed;
    right: 1.5%;
    bottom: 8%;
    width: 40px;
    height: 40px;
    opacity: 0.3;
    cursor: pointer;
    transition: @transitionLinks;
    &:hover {
        opacity: 0.9;
    }
}

footer {
    background-color: #ebeef1;
    height: 46px;
    border-top: #c3ccd5 1px solid;
    .copyright {
        text-align: center;
        font-size: 13px;
        font-weight: 300;
        color: #858d94;
        line-height: 46px;
    }
}

/* Button Classes */
.btn {
    border-radius: 100px;
    color: #373737;
    font-size: 13px;
    font-weight: normal;
    padding: 6px 25px;
    &.btn-primary {
        background-color: #305a83;
        color: #fff;
    }
    &.btn-reset {
        background-color: #dcdee1;
        &:hover {
            color: #666
        }
    }
}

/* Modal Classes */
.modal {
    .modal-header {
        ul.nav-tabs {
            padding: 5px 0 15px 0;
            border: 0;
            position: relative;
            bottom: -15px;
            li {
                font-size: 18px;
                font-weight: 300;
                a {
                    color: #474b4f;
                }
            }
            li.active a {
                font-weight: normal;
                color: #000;
            }
        }
        .close {
            z-index: 10;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 24px;
            height: 24px;
            &:hover,
            &:focus {
                color: #000;
                cursor: pointer;
                opacity: 0.8;
                text-decoration: none;
            }
        }
    }
    .modal-body {
        label {
            font-size: 15px;
            font-weight: 300;
            color: #474b4f;
            margin-bottom: 10px;
        }
    }
    .modal-footer {
        padding: 15px 10px;
        margin: 0 15px;
    }
}

/* Form Classes */
.input-holder {
    margin-bottom:15px;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    input[type="text"], input[type="password"], input[type="url"], textarea{
        border: #dbdbdb 1px solid;
        border-radius: 3px;
        height: 36px;
        padding: 5px 20px 5px 10px;
        width: 100%;
    }
    textarea{
        height:112px;
    }
    &.required:after {
        color: #fff;
        content: "*";
        font-size: 12px;
        font-weight: 500;
        height: 17px;
        line-height: 15px;
        margin: 1px 1px 0 0;
        padding: 0 0 7px 8px;
        position: absolute;
        right: 1px;
        text-align: center;
        top: 1px;
        width: 17px;
        background: url(../../images/req-bg.png) no-repeat;
    }
}

a.view-icon,
a.edit-icon,
a.play-icon{
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(../../images/view-icon.png) 0 0 no-repeat;
    background-size: 100% auto;
}
a.edit-icon{
    margin-left: 10px;
    background: url(../../images/edit-icon.png) 0 0 no-repeat;
    background-size: 100% auto;
}
a.play-icon{
    background: url(../../images/play.png) 0 0 no-repeat;
    background-size: 100% auto;
}
/*.delete{
    display: none;*/
    a.delete-icon{
        height: 20px;
        width: 20px;
        display:none;
        background: url(../../images/delete-icon.png) 0 0 no-repeat;
        background-size: 100% auto;
    }
/*}*/
.table-over {
    overflow: auto;
}
table.datatable {
    font-size: 13px;
    font-weight: normal;
    color: #636363;
    > tbody > tr > th {
        background-color: #f0f2f4;
        border-top: none;
        font-weight: 600;
        color: #262626;
        padding: 12px;
    }
    > tbody > tr > td {
        padding: 12px;
        border-top-color: transparent;
        border-bottom: #d9d9d9 1px solid;
        vertical-align: middle;
        position: relative;
    }
    ul {
        margin: 0;
        padding: 0 0 0 14px;
        .new {
            color: #6db5ff;
        }
        .incomplete {
            color: #ff8372;
        }
        .completed {
            color: #72c767;
        }
        .updated {
            color: #c0a745;
        }
    }
    .disabled {
        color: #999999;
    }
    label{
        margin-bottom: 0;
    }
    .unlocked,
    .locked {
        width: 14px;
        height: 20px;
        display: inline-block;
        background: url(../../images/lock-sprite.png) 0 0 no-repeat;
        background-size: 100% auto;
    }
    .locked {
        background-position: left bottom;
    }
}
table.inbox{
    > tbody > tr > td{
        color: #000;
        padding: 8px;
        cursor: pointer;
        &.date{
            font-size: 11px;
            font-style: italic;
            color: #979797;
        }
    }
    .unread{
        font-weight:600;
    }
    span.message{
        margin-left: 10px;
        font-weight: normal;
        color: #979797;
    }
}
.no-border{
    border:none !important;
}

@import url('../pages/before-login.less');
@import url('theme.less');
@import url('fonts.less');
@import url('../pages/dashboard.less');
@import url('../pages/pgp.less');
@import url('../pages/cs-list.less');
@import url('../pages/profile.less');
@import url('../layout/animation.less');
@import url('../pages/pgp-print.less') ;
